body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #ffddd2;
  font-family: "Courier New", Courier, monospace;
}

.container {
  background-color: #f8edeb;
  padding: 28px;
  border-radius: 7px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin: 10px;
  max-width: 450px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.heading {
  font-size: 28px;
}

.input {
  height: 40px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  padding: 0 42px;
  padding-left: 35px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0  0  16  16"><path d="M11.742  10.344a6.5  6.5  0  1  0-1.397  1.398h-.001c.03.04.062.078.098.115l3.85  3.85a1  1  0  0  0  1.415-1.414l-3.85-3.85a1.007  1.007  0  0  0-.115-.1zM12  6.5a5.5  5.5  0  1  1-11  0  5.5  5.5  0  0  1  11  0z"/></svg>')
    no-repeat 10px center;
  background-size: 16px 16px;
  border-radius: 5px;
}

.meaning-container {
  display: none;
}
